<!-- Tab panes-->
        <div class="tab-content">
          <div class="dropdown-header text-center">
              <strong>Settings</strong>
          </div>
          <a class="dropdown-item" href="profile.html">
            <i class="fa fa-user"></i> Profile
          </a>
          <a class="dropdown-item" href="requests.html">
            <i class="fa fa-bell"></i> Requests
            <span class="badge badge-primary">1</span>
          </a>
          <a class="dropdown-item" href="setpersonaldeadlines.html">
            <i class="fa fa-clock"></i> Set Personal Deadlines
          </a>
          <a class="dropdown-item" href="deadlineslist.html">
            <i class="fa fa-list"></i> Personal Deadlines
            <span class="badge badge-primary">1</span>
          </a>
          <a class="dropdown-item" href="login.html">
            <i class="fa fa-lock"></i> Logout
          </a>
          </div>
        </div>