        <nav class="sidebar-nav">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="dashboard.html">
                <i class="nav-icon icon-speedometer"></i> Dashboard
              </a>
            </li>
            <li class="nav-title">Setup and Admin</li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fa fa-institution"></i> Accreditation</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="addaccreditingbody.html">
                    <i class="nav-icon fa fa-institution"></i> Add Accrediting Body</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="createchecklist.html">
                    <i class="nav-icon fa fa-institution"></i> Add Self-Eval Form</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="addschedules.html">
                    <i class="nav-icon fa fa-institution"></i> Set Schedules</a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fa fa-team"></i> Committees</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="addcommittees.html">
                    <i class="nav-icon fa fa-team"></i> Create Committees</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="addteams.html">
                    <i class="nav-icon fa fa-team"></i> Create Teams</a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fa fa-user"></i> Users</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="assignadmin.html">
                    <i class="nav-icon fa fa-user"></i> Add System Admin</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="addqa.html">
                    <i class="nav-icon fa fa-user"></i> Add QA Officer</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="accreditationlist.html">
                    <i class="nav-icon fa fa-user"></i> Add Accreditation Head</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="accreditationlist.html">
                    <i class="nav-icon fa fa-user"></i> Admin and QA</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="createaccreditation.html">
                    <i class="nav-icon fa fa-user"></i> Faculty and Staff</a>
                </li>
              </ul>
            </li>
            <li class="nav-title">Criteria Compliance</li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fa fa-institution"></i> Accreditation</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="createaccreditation.html">
                    <i class="nav-icon fa fa-institution"></i> New Accreditation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="accreditationlist.html">
                    <i class="nav-icon fa fa-institution"></i> Accreditation List</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="criteriachecklist.html">
                <i class="nav-icon fa fa-database"></i> Self-Evaluation Form</a>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fa fa-search"></i> Evidence</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="evidencelist.html">
                    <i class="nav-icon fa fa-search"></i> Add Evidence</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="evidencerequests.html">
                    <i class="nav-icon fa fa-search"></i> Evidence List</a>
                </li>
              </ul>
            </li>
            <li class="nav-title">Document Management</li>
            <li class="nav-item">
              <a class="nav-link" href="docurepo.html">
                <i class="nav-icon fa fa-database"></i> Document Repository</a>
            </li>
            <li class="nav-title">Committee Management</li>
            <li class="nav-item">
              <a class="nav-link" href="committeelist.html">
                <i class="nav-icon icon-people"></i> Committees</a>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-user"></i> Users</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="facultyandstaff.html">
                    <i class="nav-icon icon-user"></i> Faculty and Staff</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="qa.html">
                    <i class="nav-icon icon-user"></i> QA</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="addqa.html">
                    <i class="nav-icon icon-user"></i> Add QA</a>
                </li>
              </ul>
            </li>
            <li class="nav-title">Task Management</li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fa fa-bell-o"></i> Announcements</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="qa.html">
                    <i class="nav-icon fa fa-bell-o"></i> Create Announcement</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="facultyandstaff.html">
                    <i class="nav-icon fa fa-bell-o"></i> Announcement List</a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-dropdown">
              <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon fa fa-clock-o"></i> Deadlines</a>
              <ul class="nav-dropdown-items">
                <li class="nav-item">
                  <a class="nav-link" href="qa.html">
                    <i class="nav-icon fa fa-clock-o"></i> Set Deadline</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="facultyandstaff.html">
                    <i class="nav-icon fa fa-clock-o"></i> Deadline List</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>